<!DOCTYPE html>
<html>
<head>
  <title>DecisionTreeApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="ui top fixed menu">
  <div class="item">
    <%= link_to 'DecisionTree', root_path %>
  </div>
</div>
<div class="ui main container">
  <%= semantic_flash %>
  <%= yield %>
</div>
</body>
</html>